/* Style */

@import url('https://fonts.googleapis.com/css?family=Merriweather');






#canvas-picker {
    background-color: transparent;
    z-index: 100;
    cursor: url('../img/eyedropper_flip.png') 25 25, auto;
}

#happy-birthday {
    position: fixed;
    top: 30px;
    width: 100%;
    padding: 20px;
}

h1 {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: black;
    color: white;
    text-shadow: 3px 3px 1px white;
    text-align: center;
}

#tool-kit {
    position: relative;
    padding: 20px;
    margin: 0 auto;
}


#sample-box {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 100px;
    background-color: orange;
    opacity: 0.5;
    border: white 3px solid;
}

#opacity-range {
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
